# config.py

CONFIGS = {
    "ACM-DBLP": {
        "n": 9916,
        "beta": 10,
        "embed_dim": 1000,
        "row_penalty": 10,
        "col_penalty": 200,
        "learning_rate": 1e-2,
        "mu": 0.1,
        "fugal_hungarian_accuracy": 0.484901185770751,
        "kissing_hungarian_accuracy": 0.2329,
        "fugal_greedy_accuracy": xxx,
        "kissing_greedy_accuracy": xxx,
    },
}