# config.py

CONFIGS = {
    "highschool-100-99": {
        "n": 327,
        "beta": 10,
        "embed_dim": 20,
        "row_penalty": 10,
        "col_penalty": 200,
        "learning_rate": 1e-2,
        "mu": 0.5,
        "fugal_hungarian_accuracy": 1.0,
        "kissing_hungarian_accuracy": 1.0,
        "fugal_greedy_accuracy": 1.0,
        "kissing_greedy_accuracy": 1.0,
    },
    "highschool-100-95": {
        "n": 327,
        "beta": 10,
        "embed_dim": 20,
        "row_penalty": 10,
        "col_penalty": 200,
        "learning_rate": 1e-2,
        "mu": 0.5,
        "fugal_hungarian_accuracy": 1.0,
        "kissing_hungarian_accuracy": 1.0,
        "fugal_greedy_accuracy": 1.0,
        "kissing_greedy_accuracy": 1.0,
    },
    "highschool-100-90": {
        "n": 327,
        "beta": 10,
        "embed_dim": 20,
        "row_penalty": 10,
        "col_penalty": 200,
        "learning_rate": 1e-2,
        "mu": 0.5,
        "fugal_hungarian_accuracy": 1.0,
        "kissing_hungarian_accuracy": 1.0,
        "fugal_greedy_accuracy": 1.0,
        "kissing_greedy_accuracy": 1.0,
    },
    "highschool-100-80": {
        "n": 327,
        "beta": 10,
        "embed_dim": 40,
        "row_penalty": 10,
        "col_penalty": 200,
        "learning_rate": 1e-2,
        "mu": 0.5,
        "fugal_hungarian_accuracy": 1.0,
        "kissing_hungarian_accuracy": xxx,
        "fugal_greedy_accuracy": 1.0,
        "kissing_greedy_accuracy": xxx,
    }
}