# config.py

CONFIGS = {
    "yeast0_Y2H1-yeast5_Y2H1": {
        "n": 1004,
        "beta": 10,
        "embed_dim": 100,
        "row_penalty": 10,
        "col_penalty": 200,
        "learning_rate": 1e-2,
        "mu": 0.5,
        "fugal_hungarian_accuracy": 0.8874501992031872,
        "kissing_hungarian_accuracy": 0.8227,
        "fugal_greedy_accuracy": 0.8207171314741036,
        "kissing_greedy_accuracy": 0.8007968127490039,
    },
    "yeast0_Y2H1-yeast10_Y2H1": {
        "n": 1004,
        "beta": 10,
        "embed_dim": 100,
        "row_penalty": 10,
        "col_penalty": 200,
        "learning_rate": 1e-2,
        "mu": 0.5,
        "fugal_hungarian_accuracy": 0.8585657370517928,
        "kissing_hungarian_accuracy": 0.7759,
        "fugal_greedy_accuracy": 0.7868525896414342,
        "kissing_greedy_accuracy": 0.7340637450199203,
    },
    "yeast0_Y2H1-yeast15_Y2H1": {
        "n": 1004,
        "beta": 10,
        "embed_dim": 100,
        "row_penalty": 10,
        "col_penalty": 200,
        "learning_rate": 1e-2,
        "mu": 0.5,
        "fugal_hungarian_accuracy": 0.8147410358565738,
        "kissing_hungarian_accuracy": 0.7380,
        "fugal_greedy_accuracy": 0.7460159362549801,
        "kissing_greedy_accuracy": 0.6922310756972112,
    },
    "yeast0_Y2H1-yeast20_Y2H1": {
        "n": 1004,
        "beta": 10,
        "embed_dim": 150,
        "row_penalty": 10,
        "col_penalty": 200,
        "learning_rate": 1e-2,
        "mu": 0.5,
        "fugal_hungarian_accuracy": 0.7609561752988048,
        "kissing_hungarian_accuracy": 0.7042,
        "fugal_greedy_accuracy": 0.7061752988047809,
        "kissing_greedy_accuracy": 0.6762948207171314,
    },
    "yeast0_Y2H1-yeast25_Y2H1": {
        "n": 1004,
        "beta": 10,
        "embed_dim": 250,
        "row_penalty": 10,
        "col_penalty": 200,
        "learning_rate": 1e-2,
        "mu": 0.5,
        "fugal_hungarian_accuracy": 0.7231075697211156,
        "kissing_hungarian_accuracy": 0.6305,
        "fugal_greedy_accuracy": 0.6733067729083665,
        "kissing_greedy_accuracy": 0.6045816733067729,
    },
}